/* .navbar-brand{
    position: absolute;
    width: 366px;
    height: 34px;
    left: 244px;
    top: 99px;
}
.slide__item{
    position: absolute;
width: 1920px;
height: 1700px;
left: 0px;
top: 0px;
}
.slide__image{
    position: absolute;
    width: 1920px;
    height: 1700px;
    left: 0px;
    top: 0px;
} */
