#result{
  display:none;
    background-color:#ffffff;
    /* text-align: center; */
    border-radius: 20px;
    padding: 10% 10%;

}
.resultname{
  font-size:26px;
}

.resultDesc1{
  font-size: 25px;
  text-align: left;
}
.resultDesc2{
  font-size: 25px;
  text-align: left;
}
.resultDesc3{
  font-size: 25px;
  text-align: left;
}

.kakao{
  color:white;
  background-color: #2d2904;
  font-size: 20px;

  border: 0px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus{
  background-color:whitesmoke;
  color: #121001;
}
